body{
    margin: auto;
    font-family: monospace;
    display: flex;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 4%;
}

.bar_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}

nav{
    font-size: 15px;
}


.logo{
    width: 50px;
    height: 50px;
    display: contents;
}

.bar_contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sec_1{
    display: flex;
    flex-direction: column;
}

.imgC img{
    width: 1220px;
    height: 600px;
    background-color: whitesmoke;
}

.datos h1{
    position: static;
    color: aquamarine;
    height: 20px;
    width: 19 0px;
}

.datos{
    display: flex;
    align-items: center;
    justify-content: center;
     
}